{% extends "collegebase.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Contact Us</h1>
    <p>Feel free to reach out to us!</p>
    <button><a href="{{ url_for('departments') }}">View Departments</a></button>
    {% endblock %}
</body>
</html>